DATABASE_URL="postgresql://neondb_owner:npg_iBQbMS08NgOj@ep-wandering-heart-au8s5my4.c-10.us-east-1.aws.neon.tech/neondb?sslmode=require"
DIRECT_URL="postgresql://neondb_owner:npg_iBQbMS08NgOj@ep-wandering-heart-au8s5my4.c-10.us-east-1.aws.neon.tech/neondb?sslmode=require"